# **Judul**

"Snitch Clothing Sales"

# **Import Library**

In [ ]:
import pandas as pd

# **Memuat Dataset**

In [11]:
file = Snitch_Fashion_Sales_Uncleaned.csv
df = pd.read_csv(file)

df

,Order_ID,Customer_Name,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_%,Sales_Amount,Order_Date,City,Segment,Profit
0,1000,Brian Thompson,Jeans,Slim Fit Jeans,NaN,842.00,0.60,0.00,2025-02-27,Delhi,B2C,2137.45
1,1001,Shaun Ross,Jeans,Slim Fit Jeans,1.0,NaN,NaN,0.00,2025-07-15,Ahmedabad,NaN,1588.15
2,1002,Sarah Snyder,Jackets,Puffer Coat,1.0,637.82,NaN,0.00,02-01-2025,Mumbai,B2B,-158.03
3,1003,Jay Briggs,Shoes,Loafers,2.0,2962.27,NaN,0.00,18-06-2025,bengaluru,B2B,2296.50
4,1004,Maria Blake,Accessories,Belts,1.0,2881.07,0.27,2103.18,NaN,hyderbad,NaN,63.66
...,...,...,...,...,...,...,...,...,...,...,...,...
2495,3495,Allen Williams,T-Shirts,Oversized T-shirt,NaN,848.79,NaN,0.00,NaN,Mumbai,NaN,2259.00
2496,3496,Jonathan Hill,Shoes,Loafers,4.0,NaN,NaN,0.00,2024-03-10,Hyderabad,B2B,2232.98
2497,3497,Alejandro Cochran,Jackets,Bomber Jacket,NaN,3389.24,1.06,0.00,NaN,Ahmedabad,B2C,1955.31
2498,3498,Angela Adkins,Jeans,Straight Cut,5.0,3844.19,NaN,0.00,24-07-2024,Hyd,NaN,2967.00
2499,3499,Zachary Werner,T-Shirts,Graphic Tee,6.0,1239.75,NaN,0.00,NaN,Mumbai,B2C,715.15

# **Business Understanding**

## **Business Objective**

Dataset ini merupakan dataset transaksi penjualan ritel dari merek pakaian pria Snitch yang mencakup data penjualan produk secara mendetail. Dataset ini memiliki 2.500 baris baris dan 12 kolom (seperti Order ID Product Category, Customer Name, Product Name,  dll). Tujuan dari analisis pada dataset ini adalah untuk memahami strategi penetapan harga, efektivitas pemberian diskon terhadap minat beli, serta mengidentifikasi kategori pakaian yang paling populer guna mengoptimalkan stok dan pendapatan perusahaan.

## **Assess Situation**

Analisis dataset ini berdasarkan data katalog dan transaksi penjualan dari merek pakaian Snitch yang mencakup berbagai kategori fashion pria. Terdapat variasi harga yang signifikan serta strategi diskon yang berbeda di setiap kategori produk (seperti Shirts, Jeans, dan T-shirts), namun perusahaan belum memiliki pemetaan yang jelas mengenai kategori mana yang memberikan margin keuntungan paling stabil dan bagaimana pengaruh besaran diskon terhadap kecepatan perputaran stok barang.

## **Analytic Goals Project Plan**

Analytic Goals
Tujuan Analisis Data dalam mengolah dataset ini adalah sebagai berikut:

* Identifikasi Produk Unggulan: Menentukan kategori pakaian dengan



* volume penjualan dan nilai transaksi tertinggi untukmemaksimalkan profitabilitas.

* Analisis Strategi Penetapan Harga: Memetakan efektivitas potongan harga (Current Price vs Old Price) terhadap daya tarik produk di mata konsumen.

* Segmentasi Katalog: Mengelompokkan produk berdasarkan rentang harga dan besaran diskon untuk memahami posisi brand di pasar ritel.

Project Plan
Perencanaan Proyek dalam mengolah dataset ini adalah sebagai berikut:

* Melakukan Persiapan Data (Data Preparation): Membersihkan data dari nilai kosong, menyeragamkan format mata uang, dan menghitung selisih harga untuk mendapatkan nilai diskon yang akurat.

* Mengidentifikasi Kondisi & Karakteristik: Menganalisis sebaran harga di setiap kategori pakaian (seperti Shirts, Jeans, T-shirts) untuk mendeteksi anomali atau peluang pasar.

* Melakukan Visualization: Mengubah data harga yang kompleks menjadi bentuk visual seperti Box Plot untuk distribusi harga dan Bar Chart untuk perbandingan diskon antar kategori.

* Menyusun Dashboard dan Laporan: Membangun tampilan visual yang interaktif untuk memantau performa tiap kategori produk secara real-time.

* Meringkas & Menyimpulkan: Memberikan rekomendasi strategis mengenai kategori mana yang harus dipertahankan harga normalnya dan kategori mana yang membutuhkan promosi agresif untuk menghabiskan stok.